.title{
    font-size: 50px;
    padding-left: 50%;
  }

.teamForm, .studentForm{
    margin: auto;
    width: 75%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.stars {
 float: left;
    height: 50px;
    padding: 0 10px;
}
.stars:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.stars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.stars:not(:checked) > label:before {
    content: '★ ';
}
.stars > input:checked ~ label {
    color: #ffc700;    
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.commentBox{
    max-width: 100%;
    resize: vertical;
}
  